{% extends 'layout.html.twig' %}
{% block title %} {{ "Document"|trans }} - {{ "Atlantis Cameroun"|trans }}{% endblock %}
{% block gallery %}active{% endblock %}
{% block document %}active{% endblock %}
{% block body %}
    <div class="container-fluid py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 animated slideInDown">
                        {{ "Document"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}</a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Gallerie"|trans }}
                            </li>
                            <li class="breadcrumb-item text-white active" aria-current="page">
                                {{ "Document"|trans }}
                            </li>
                        </ol>
                    </nav>
                    <div class="col-lg-4 offset-lg-4">
                        {{ include('atlantis/search.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 mt-5 mb-5">
        <div class="container mb-5">
            <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-bleu px-3 mb-5">
                    {{ "Document"|trans }}
                </h3>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-lg-4">
                    <a href="{{ asset('documents/OFFRE_DE_SERVICE_V3.pdf') }}" class="text-dark hover-rouge" target="_blank">
                        <div class="album-cover mb-5">
                            <img src="{{ asset('images/bnh-atlantis.avif') }}" alt="">
                        </div>
                        <h5 class="text-uppercase mt-4">
                            {{ "Partenariat BNH Gas Tanks LLP - Atlantis Cameroun"|trans }}
                        </h5>
						<button class="btn btn-rouge rounded-5 py-3 px-4 mt-4">
                                {{ "Télécharger"|trans }}
                            </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}