{% extends 'layout.html.twig' %}
{% block title %} {{ "Réservoir de 10 000m3"|trans }} - {{ "Atlantis Cameroun"|trans }}{% endblock %}
{% block gallery %} active {% endblock %}
{% block photo %} active {% endblock %}
{% block body %}
    <div class="container-fluid py-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated slideInDown">
                        {{ "Gallerie photo"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Gallerie"|trans }}
                            </li>
                            <li class="breadcrumb-item text-white">
                                <a class="text-white" href="{{ path('Photo') }}">
                                    {{ "Photo"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white active" aria-current="page">
                                {{ "Réservoir de 10 000m3"|trans }}
                            </li>
                        </ol>
                    </nav>
                    <div class="col-lg-4 offset-lg-4">
                        {{ include('atlantis/search.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 mb-5">
        <div class="container mb-5">
            <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-bleu px-3 mt-5 mb-5">
                    {{ "Réservoir de 10 000m3 pour stockage gasoil"|trans }}
                </h3>
            </div>
            <div class="row g-5 justify-content-center mt-5">
                <div class="col-lg-4 col-md-6">
                    <a href="{{ path('Reception') }}" class="text-dark hover-rouge">
                        <div class="album-cover mb-5">
                            <img src="{{ asset('images/reservoir-10000m3/commission-de-reception-provisoire/IMG61740.jpg') }}" alt="Reception">
                        </div>
                        <h5 class="text-center text-uppercase lh-base mt-4">
                            {{ "Commission de réception provisoire"|trans }}
                        </h5>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="{{ path('Inauguration') }}" class="text-dark hover-rouge">
                        <div class="album-cover mb-5">
                            <img src="{{ asset('images/reservoir-10000m3/inauguration-decembre2021/inauguration_cover.jpeg') }}" alt="Inauguration">
                        </div>
                        <h5 class="text-center text-uppercase lh-base mt-4">
                            {{ "Inauguration par le ministre du commerce en Décembre 2021"|trans }}
                        </h5>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="{{ path('Montage') }}" class="text-dark hover-rouge">
                        <div class="album-cover mb-5">
                            <img src="{{ asset('images/reservoir-10000m3/travaux-de-montage-du-reservoir/IMG61582.jpeg') }}" alt="montage">
                        </div>
                        <h5 class="text-center text-uppercase lh-base mt-4">
                            {{ "Pendant les travaux de montage du réservoir"|trans }}
                        </h5>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="{{ path('Visite') }}" class="text-dark hover-rouge">
                        <div class="album-cover mb-5">
                            <img src="{{ asset('images/reservoir-10000m3/visite-des-travaux/travaux_01.jpeg') }}" alt="Visite">
                        </div>
                        <h5 class="text-center text-uppercase lh-base mt-4">
                            {{ "Visite des travaux par le DG SCDP et ATLANTIS CAMEROUN"|trans }}
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}